@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root{
    font-family: 'Poppins', sans-serif;
}

.active {
    font-weight: 800;
    text-decoration: none;
}

.categories-list {
    list-style: none;
    background-color: #e7e7e7;
}

.categories-list li a {
    text-decoration: none;
}